.navigation {
    max-width:400px;
    border-radius: 25px;
    padding-top: 5px;
  
}

.navigation__header {
    padding-left: 20px;
    font-size: 23px;
}

.navigation__link {
    padding: 25px;
    text-decoration: none;
    color: rgb(1, 104, 104);
}

.navigation__link:hover {
    color: teal;
    outline: none;
}

.navigation__list {
    list-style-type: none;
    padding: 0;
}