html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body__homepagePicture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border-radius: 200px;
}

.body {
    max-width: 900px;
    background: rgb(253 251 248 / 90%);
    color: #222;
    margin: auto;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

.lightBackground {
    background: rgb(230, 228, 227);
}

.body__container {
    display: flex;
    align-items: center;
}

.body__photo {
    border: inset 1px;
    box-shadow: 2px 0px 7px;
    border-radius: 100px;
    margin: 10px;
}

.hiddenPhoto {
    visibility: hidden;
}

.footer {
    text-align: center;
    padding: 10px;
    font-size: 13px;
    font-style: italic;
}

.button__changeBackground {
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
    color: #222;
    outline: none;
    font-weight: 700;
}

.button__hidePhoto {
    border-radius: 20px;
    padding: 10px;
    color: #222;
    outline: none;
    font-weight: 700;
}